/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -20;
  background-color: #182327;
  /*background: linear-gradient(#000000,#191919);*/
  /*background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/
}
.head{
  color: #32CD32;
  /*font-family: 'Karla', sans-serif;*/
  font-family: 'Lustria', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 20px;
}
p{
  display: inline-block !important;
}

.section{

	/*height: calc(100vh - 40px);*/

	height: 100vh;
	max-width: 100vw;
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0);

}

.name{

  width:70%;

}
.text{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.icons{
  display:inline-block;
  float: left;
  width:100%;
  margin:0;

}
.ico{
  border: 4px double #4f5b60;
  color: #abab81;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 11px;
  position: relative;
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 22px 8px;
}
.ico:hover{
  /*border: 4px solid #abab81;
  color: #abab81;*/
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 11px;
  position: relative;
  background: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  margin: 22px 8px;
  transform: translateY(-3px);
}

.fb{
  color:#32CD32;
}
.lin{
  color:#32CD32;
}
.git{
  color:#32CD32;
}
.twit{
  color:#32CD32;
}

#bar {
        position: fixed;
        top: 20%;
        left: 40%;
        width: 40%;
        height: 40%;
        -webkit-transition: 0.1s ease all;
    }

    .p {
        background-color: blue;
        height: 100%;
        width: 10%;
        float: left;
    }


.mail{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
